<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Create Pet</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Animal Recognition</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/pet"> Pets <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pet/finder">Pet Recognition</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pet/create">Create Pet</a>
        </li>
          </div>
        </li>
      </ul>
    </div>
  </nav>

    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto mt-5 text-center">
            <form action='' method = "POST">
                <p>Pet name <input type = "text" name = "pet_name" /></p>
                <p>Species <input type = "text" name = "species" /></p>
                <p>Breed <input type = "text" name = "breed" /></p>
                <p>Birthdate <input type = "text" name = "birthdate" /></p>
                <p>Weight <input type = "text" name = "weight" /></p>
                <p>Reproductive Status <input type = "text" name = "reproductive_status" /></p>
                <p><input type = "submit" value = "Submit" /></p>
            </form>
            </div>
        </div>
    </div>

</body>
</html>