<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action='' method = "POST">
        <p>Pet name <input type = "text" name = "pet_name" /></p>
        <p>Species <input type = "text" name = "species" /></p>
        <p>Breed <input type = "text" name = "breed" /></p>
        <p>Birthdate <input type = "text" name = "birthdate" /></p>
        <p>Weight <input type = "text" name = "weight" /></p>
        <p>Reproductive Status <input type = "text" name = "reproductive_status" /></p>
        <p><input type = "submit" value = "Submit" /></p>
      </form>
</body>
</html>